@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url(./fonts/Inter/Inter-Thin.woff2) format("woff2"),
        url(./fonts/Inter/Inter-Thin.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(./fonts/Inter/Inter-Regular.woff) format('woff'),
        url(./fonts/Inter/Inter-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/Inter/Inter-Bold.woff2) format("woff2"),
        url(./fonts/Inter/Inter-Bold.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(./fonts/Inter/Inter-Black.woff) format('woff'),
        url(./fonts/Inter/Inter-Black.woff2) format('woff2');
    font-weight: 900;
}

.page {
    margin: 0 auto;
    background-color: #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 45px;
    position: relative;
}

.header::after {
    display: block;
    width: 100%;
    /*какую высоту выставим, такого размера и будет бордер*/
    content: "";
    border-bottom: 1px solid #545454;
    position: absolute;
    opacity: .7;
    /*а top-OM уже выставлять положение бордера*/
    bottom: 0;
    left: 0;
}

.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    padding-bottom: 41px;
    display: block;
}

.content {
    width: 100%;
    margin: 40px 0 67px;
    color: white;
}

.profile {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px auto 1fr;
    grid-template-rows: 120px;
}

.profile__avatar {
    width: 168.75px;
    height: 127.5px;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    left: -22.5px;
    top: -3.75px;
}

.profile__avatar-img {
    border-radius: 60px;
    display: block;
    margin-left: 22.5px;
    margin-top: 3.75px;
}

.profile__info {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
    /* align-content: center; */
    margin-left: 3.75px;

}

/*.profile__owner-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: flex-end;
    column-gap: 18px; */


.profile__owner {
    max-width: 100%;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    margin: 0;
    position: relative;
}

.profile__owner::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    box-sizing: border-box;
    background-position: center;
    top: 35%;
    right: -40px;
    background-image: url(./images/edit-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42%;
}

/*.profile__editButton {
    width: 24pх;
    height: 24px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    line-height: 100%;
}
.profile__editButton-icon {
    width: 10px;
    height: 10px;    
}
*/
.profile__owner-activity {
    max-width: 100%;
    max-height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    /* margin-top: 25px; */
    margin-top: 16px;
    margin-bottom: 0;
}

.profile__addButton {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    position: relative;
}

.profile__addButton::after {
    content: "";
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    position: absolute;
    box-sizing: border-box;
    top: 30%;
    right: 0;
    background-image: url(./images/add-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*.profile__addButton-icon {
    width: 22px;
    height: 22px;
}
*/
.cards {
    max-width: 880px;
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
    row-gap: 20px;
    column-gap: 17px;

}

.card {
    max-width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    display: block;
}

.card__info {
    max-width: 246px;
    max-height: 23px;
    margin: 25px 15px 31px 21px;
    position: relative;
}

.card__heading {
    max-width: 190px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 121%;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__info::after {
    content: "";
    width: 22px;
    height: 19px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(./images/like-icon.svg);
    background-size: cover;
    background-position: center;

}

.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer__copyright {
    margin: 0;
    max-width: 318px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 121%;
    color: #545454;
}