.page {
    margin: 0 auto;
    background-color: #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    max-width: 880px;
    margin: 0 auto;
    border-bottom: 1px solid rgba (84, 84, 84, .7);
    padding-top: 45px;
}

.header__logo {
    width: 142px;
    margin: 0 auto 41px 0;
}

.content {
    width: 100%;
    margin: 0 auto;
    color: white;
}

.profile {
    max-width: 880px;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: 150px 336px 1fr;
    grid-template-rows: auto;
}

.profile__avatar {
    width: 168.75px;
    height: 127.5px;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    left: -22.5px;
}

.profile__avatar-img {
    border-radius: 60px;
}

.profile__info {
    
}

