.popup__input-error {
  max-width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 121%;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  color: #FF0000;
  display: none;
  z-index: 1;
}
