.card__like-icon {
    width: 22px;
    height: 19px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(../../../images/like-icon.svg);
    background-size: cover;
    background-position: center;
}

.card__like-icon:hover {
    opacity: .5;
    cursor: pointer;
}
