.profile__edit-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    box-sizing: border-box;
    top: 15px;
    right: 0;
    background-image: url(../../../images/edit-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42%;
}

@media screen and (max-width: 768px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        top: 8px;
        right: -28px;
    }
}

.profile__edit-btn:hover {
    opacity: .6;
    cursor: pointer;
}
