.card__show-owner-btn{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0;
  border: none;
  font: inherit;
  color: black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 121%;
}

.card__show-owner-btn:hover {
  opacity: .6;
  cursor: pointer;
}
