.profile__avatar {
    width: 168.75px;
    height: 127.5px;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    left: -22.5px;
    top: -3.75px;
}

@media screen and (max-width: 768px) {
    .profile__avatar {
        left: auto;
    }
}
